/aws/sso/*
/config/*
!/config/gh/
!/config/gh-copilot/
!/config/git/
!/config/homebrew/
!/config/karabiner/
/config/karabiner/*
!/config/karabiner/karabiner.json
!/config/op/
/config/op/config
/warp/*
!/warp/keybindings.yaml
