/config/*
!/config/gh/
!/config/gh-skill-diff/
!/config/git/
!/config/homebrew/
!/config/karabiner/
/config/karabiner/*
!/config/karabiner/karabiner.json
/copilot/*
!/copilot/mcp-config.json
/warp/*
!/warp/keybindings.yaml
